In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/survey_results_public.csv",index_col="Respondent")
df_schema = pd.read_csv("data/survey_results_schema.csv",index_col="Column")

In [3]:
pd.set_option("display.max_columns",100)
pd.set_option("display.max_rows",100)

In [4]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [5]:
df.shape

(64461, 60)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64461 entries, 1 to 65112
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    64162 non-null  object
 1   Hobbyist                      64416 non-null  object
 2   Age                           45446 non-null  float64
 3   Age1stCode                    57900 non-null  object
 4   CompFreq                      40069 non-null  object
 5   CompTotal                     34826 non-null  float64
 6   ConvertedComp                 34756 non-null  float64
 7   Country                       64072 non-null  object
 8   CurrencyDesc                  45472 non-null  object
 9   CurrencySymbol                45472 non-null  object
 10  DatabaseDesireNextYear        44070 non-null  object
 11  DatabaseWorkedWith            49537 non-null  object
 12  DevType                       49370 non-null  object
 13  EdLevel                       57431 non-null  object
 14  Employment                    63854 non-null  object
 15  Ethnicity                     45948 non-null  object
 16  Gender                        50557 non-null  object
 17  JobFactors                    49349 non-null  object
 18  JobSat                        45194 non-null  object
 19  JobSeek                       51727 non-null  object
 20  LanguageDesireNextYear        54113 non-null  object
 21  LanguageWorkedWith            57378 non-null  object
 22  MiscTechDesireNextYear        42379 non-null  object
 23  MiscTechWorkedWith            40314 non-null  object
 24  NEWCollabToolsDesireNextYear  47287 non-null  object
 25  NEWCollabToolsWorkedWith      52883 non-null  object
 26  NEWDevOps                     42686 non-null  object
 27  NEWDevOpsImpt                 41732 non-null  object
 28  NEWEdImpt                     48465 non-null  object
 29  NEWJobHunt                    42286 non-null  object
 30  NEWJobHuntResearch            41022 non-null  object
 31  NEWLearn                      56156 non-null  object
 32  NEWOffTopic                   50804 non-null  object
 33  NEWOnboardGood                42623 non-null  object
 34  NEWOtherComms                 57205 non-null  object
 35  NEWOvertime                   43231 non-null  object
 36  NEWPurchaseResearch           37321 non-null  object
 37  NEWPurpleLink                 54803 non-null  object
 38  NEWSOSites                    58275 non-null  object
 39  NEWStuck                      54983 non-null  object
 40  OpSys                         56228 non-null  object
 41  OrgSize                       44334 non-null  object
 42  PlatformDesireNextYear        50605 non-null  object
 43  PlatformWorkedWith            53843 non-null  object
 44  PurchaseWhat                  39364 non-null  object
 45  Sexuality                     43992 non-null  object
 46  SOAccount                     56805 non-null  object
 47  SOComm                        56476 non-null  object
 48  SOPartFreq                    46792 non-null  object
 49  SOVisitFreq                   56970 non-null  object
 50  SurveyEase                    51802 non-null  object
 51  SurveyLength                  51701 non-null  object
 52  Trans                         49345 non-null  object
 53  UndergradMajor                50995 non-null  object
 54  WebframeDesireNextYear        40024 non-null  object
 55  WebframeWorkedWith            42279 non-null  object
 56  WelcomeChange                 52683 non-null  object
 57  WorkWeekHrs                   41151 non-null  float64
 58  YearsCode                     57684 non-null  object
 59  YearsCodePro                  46349 non-null  object
dtypes: float64(4), object(56)
memory usage: 30.0+ MB

In [7]:
df_schema

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [8]:
df[["OpSys","Trans","OrgSize"]]

                  OpSys Trans                   OrgSize
Respondent
1               Windows    No          2 to 9 employees
2                 MacOS   NaN  1,000 to 4,999 employees
3           Linux-based   NaN                       NaN
4           Linux-based    No        20 to 99 employees
5               Windows    No                       NaN
...                 ...   ...                       ...
64858           Windows   NaN                       NaN
64867               NaN   NaN                       NaN
64898               NaN   NaN                       NaN
64925           Windows   NaN                       NaN
65112           Windows   NaN                       NaN

[64461 rows x 3 columns]

In [9]:
df.iloc[2]

MainBranch                                           I code primarily as a hobby
Hobbyist                                                                     Yes
Age                                                                          NaN
Age1stCode                                                                    15
CompFreq                                                                     NaN
CompTotal                                                                    NaN
ConvertedComp                                                                NaN
Country                                                       Russian Federation
CurrencyDesc                                                                 NaN
CurrencySymbol                                                               NaN
DatabaseDesireNextYear                                                       NaN
DatabaseWorkedWith                                                           NaN
DevType                                                                      NaN
EdLevel                                                                      NaN
Employment                                                                   NaN
Ethnicity                                                                    NaN
Gender                                                                       NaN
JobFactors                                                                   NaN
JobSat                                                                       NaN
JobSeek                                                                      NaN
LanguageDesireNextYear                                  Objective-C;Python;Swift
LanguageWorkedWith                                      Objective-C;Python;Swift
MiscTechDesireNextYear                                                       NaN
MiscTechWorkedWith                                                           NaN
NEWCollabToolsDesireNextYear                                                 NaN
NEWCollabToolsWorkedWith                                                     NaN
NEWDevOps                                                                    NaN
NEWDevOpsImpt                                                                NaN
NEWEdImpt                                                                    NaN
NEWJobHunt                                                                   NaN
NEWJobHuntResearch                                                           NaN
NEWLearn                                                           Once a decade
NEWOffTopic                                                                  NaN
NEWOnboardGood                                                               NaN
NEWOtherComms                                                                 No
NEWOvertime                                                                  NaN
NEWPurchaseResearch                                                          NaN
NEWPurpleLink                                                                NaN
NEWSOSites                      Stack Overflow (public Q&A for anyone who codes)
NEWStuck                                                                     NaN
OpSys                                                                Linux-based
OrgSize                                                                      NaN
PlatformDesireNextYear                                                       NaN
PlatformWorkedWith                                                           NaN
PurchaseWhat                                                                 NaN
Sexuality                                                                    NaN
SOAccount                                                                    Yes
SOComm                                                             Yes, somewhat
SOPartFreq                                       A few times per month or weekly
SOVisitFreq                                                Daily or almost daily
SurveyEase                                            Neither easy nor difficult
SurveyLength                                               Appropriate in length
Trans                                                                        NaN
UndergradMajor                                                               NaN
WebframeDesireNextYear                                                       NaN
WebframeWorkedWith                                                           NaN
WelcomeChange                           Somewhat more welcome now than last year
WorkWeekHrs                                                                  NaN
YearsCode                                                                      4
YearsCodePro                                                                 NaN
Name: 3, dtype: object

In [10]:
df.iloc[[0,2]]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN

In [11]:
df.iloc[[0,2],[1,8]]

           Hobbyist   CurrencyDesc
Respondent
1               Yes  European Euro
3               Yes            NaN

In [12]:
df.loc[[1,3],["MainBranch","Country"]]

                                MainBranch             Country
Respondent
1           I am a developer by profession             Germany
3              I code primarily as a hobby  Russian Federation

In [13]:
df["Hobbyist"].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [14]:
df.loc[1:3,["Hobbyist","Country"]] # do not use list for slicing

           Hobbyist             Country
Respondent
1               Yes             Germany
2                No      United Kingdom
3               Yes  Russian Federation

In [15]:
df.loc[3:4,"Hobbyist":"Country"]

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country
Respondent,,,,,,,
3,Yes,NaN,15,NaN,NaN,NaN,Russian Federation
4,Yes,25.0,18,NaN,NaN,NaN,Albania

In [16]:
dictionary = {
    "firstname": ["Sam","Neil","Lucas"],
    "lastname": ["Astill","Kellard","Chu"],
    "email" : ["sam@gmail.com","neil@gmail.com","lucas@gmail.com"]
}

In [17]:
dictionary

{'firstname': ['Sam', 'Neil', 'Lucas'],
 'lastname': ['Astill', 'Kellard', 'Chu'],
 'email': ['sam@gmail.com', 'neil@gmail.com', 'lucas@gmail.com']}

In [18]:
df_list = pd.DataFrame(dictionary)

In [19]:
df_list

  firstname lastname            email
0       Sam   Astill    sam@gmail.com
1      Neil  Kellard   neil@gmail.com
2     Lucas      Chu  lucas@gmail.com

In [20]:
df_list.set_index("email")

                firstname lastname
email
sam@gmail.com         Sam   Astill
neil@gmail.com       Neil  Kellard
lucas@gmail.com     Lucas      Chu

In [21]:
df_list.set_index(["firstname","lastname"])

                              email
firstname lastname
Sam       Astill      sam@gmail.com
Neil      Kellard    neil@gmail.com
Lucas     Chu       lucas@gmail.com

In [22]:
df_list.set_index("email",inplace=True)

In [23]:
df_list

                firstname lastname
email
sam@gmail.com         Sam   Astill
neil@gmail.com       Neil  Kellard
lucas@gmail.com     Lucas      Chu

In [24]:
index = ["Manager2","Manager1","Staff"]
df_list.index = index

In [25]:
df_list

         firstname lastname
Manager2       Sam   Astill
Manager1      Neil  Kellard
Staff        Lucas      Chu

In [26]:
df_list.sort_index()

         firstname lastname
Manager1      Neil  Kellard
Manager2       Sam   Astill
Staff        Lucas      Chu

In [27]:
df_list["lastname"]=="Chu"

Manager2    False
Manager1    False
Staff        True
Name: lastname, dtype: bool

In [28]:
filt = (df_list["lastname"]=="Chu")
df_list[filt]

      firstname lastname
Staff     Lucas      Chu

In [29]:
df_list.loc[filt]

      firstname lastname
Staff     Lucas      Chu

In [30]:
df_list.loc[filt,"firstname"]

Staff    Lucas
Name: firstname, dtype: object

In [31]:
df_list.loc[~filt,"firstname"] #Negate filter

Manager2     Sam
Manager1    Neil
Name: firstname, dtype: object

In [32]:
high_salary = (df["ConvertedComp"]>70000) & (~df["ConvertedComp"].isnull()) & (~df["LanguageWorkedWith"].isnull())

In [33]:
df.loc[high_salary,["Country","Age","LanguageWorkedWith","ConvertedComp"]]

,Country,Age,LanguageWorkedWith,ConvertedComp
Respondent,,,,
8,United States,36.0,Python;SQL,116000.0
16,United Kingdom,45.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
17,United States,25.0,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
18,United States,32.0,Bash/Shell/PowerShell;HTML/CSS;Perl,1260000.0
19,United States,24.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
...,...,...,...,...
65502,United States,NaN,C#;HTML/CSS;JavaScript;Perl;Python;SQL;TypeScript,2000000.0
65523,India,NaN,Bash/Shell/PowerShell;C;C++;Go;HTML/CSS;Java;J...,75396.0
65527,United States,NaN,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,2000000.0
65528,Canada,NaN,Python,151263.0
65571,Australia,NaN,Bash/Shell/PowerShell;C;Go;Python;Rust,80172.0

In [34]:
df.loc[high_salary,["Country","Age","LanguageWorkedWith","ConvertedComp"]].dropna()

,Country,Age,LanguageWorkedWith,ConvertedComp
Respondent,,,,
8,United States,36.0,Python;SQL,116000.0
16,United Kingdom,45.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
17,United States,25.0,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
18,United States,32.0,Bash/Shell/PowerShell;HTML/CSS;Perl,1260000.0
19,United States,24.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
...,...,...,...,...
63029,United Kingdom,29.0,HTML/CSS;JavaScript;PHP,77556.0
63288,United Kingdom,31.0,HTML/CSS;JavaScript;Python;SQL;TypeScript,84019.0
63311,Brazil,27.0,C#;HTML/CSS;JavaScript;SQL;TypeScript,109956.0
63350,Canada,30.0,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;SQL,1000000.0
64810,United States,32.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,74500.0

In [35]:
high_salary_list = df.loc[high_salary,["Country","Age","LanguageWorkedWith","ConvertedComp"]].dropna().copy()

In [36]:
high_salary_list.sort_values("ConvertedComp",ascending=False)

,Country,Age,LanguageWorkedWith,ConvertedComp
Respondent,,,,
47791,United States,25.0,C#;HTML/CSS;JavaScript;Python;SQL;VBA,2000000.0
18031,United States,26.0,Python,2000000.0
18078,United States,31.0,C#;HTML/CSS;JavaScript;Python;SQL,2000000.0
52043,United States,27.0,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,2000000.0
6351,United States,30.0,Bash/Shell/PowerShell;C;C#;Go;HTML/CSS;Java;Ja...,2000000.0
...,...,...,...,...
6822,Israel,29.0,C#;HTML/CSS;JavaScript;SQL,70044.0
62062,Finland,29.0,HTML/CSS;Ruby,70044.0
15326,Netherlands,33.0,JavaScript;Python,70044.0
44018,Bahrain,42.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;JavaSc...,70020.0
5459,Australia,31.0,C#;JavaScript,70017.0

In [37]:
countries = ["United States","United Kingdom", "India", "Germany", "Canada"]
filt = high_salary_list["Country"].isin(countries)

In [38]:
high_salary_list.loc[filt].sort_values("ConvertedComp",ascending=False)

,Country,Age,LanguageWorkedWith,ConvertedComp
Respondent,,,,
25603,United States,52.0,Bash/Shell/PowerShell;Java;JavaScript;PHP;SQL,2000000.0
17900,United States,22.0,Java;JavaScript;TypeScript,2000000.0
1484,United States,31.0,JavaScript;TypeScript,2000000.0
33006,United States,23.0,C#;Objective-C;PHP;Python;SQL;Swift,2000000.0
17350,United States,23.0,HTML/CSS;Python;R;SQL;VBA,2000000.0
...,...,...,...,...
13671,United Kingdom,34.0,Bash/Shell/PowerShell;C#;Java;JavaScript;SQL;T...,70123.0
11538,Germany,27.0,HTML/CSS;JavaScript;PHP;SQL;TypeScript,70048.0
21657,Germany,19.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;PHP,70044.0
17847,Germany,37.0,C++;HTML/CSS;JavaScript;PHP;SQL;TypeScript,70044.0
52104,Germany,26.0,Java;VBA,70044.0

In [39]:
filt = high_salary_list["LanguageWorkedWith"].str.contains("Java",na=False)

In [40]:
high_salary_list.loc[filt]

,Country,Age,LanguageWorkedWith,ConvertedComp
Respondent,,,,
16,United Kingdom,45.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
17,United States,25.0,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
19,United States,24.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
24,Germany,45.0,Bash/Shell/PowerShell;Java;Kotlin;PHP;SQL,91883.0
36,United Kingdom,34.0,C#;Go;HTML/CSS;Java;JavaScript;Python;R;SQL,77556.0
...,...,...,...,...
63029,United Kingdom,29.0,HTML/CSS;JavaScript;PHP,77556.0
63288,United Kingdom,31.0,HTML/CSS;JavaScript;Python;SQL;TypeScript,84019.0
63311,Brazil,27.0,C#;HTML/CSS;JavaScript;SQL;TypeScript,109956.0
63350,Canada,30.0,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;SQL,1000000.0
64810,United States,32.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,74500.0

In [41]:
high_salary_list["LanguageWorkedWith"].str.split(";")

Respondent
8                                            [Python, SQL]
16       [Bash/Shell/PowerShell, HTML/CSS, Java, JavaSc...
17            [C#, HTML/CSS, JavaScript, Python, SQL, VBA]
18                 [Bash/Shell/PowerShell, HTML/CSS, Perl]
19       [Bash/Shell/PowerShell, C#, HTML/CSS, JavaScri...
                               ...
63029                          [HTML/CSS, JavaScript, PHP]
63288      [HTML/CSS, JavaScript, Python, SQL, TypeScript]
63311          [C#, HTML/CSS, JavaScript, SQL, TypeScript]
63350    [Bash/Shell/PowerShell, Go, HTML/CSS, JavaScri...
64810    [Bash/Shell/PowerShell, C#, HTML/CSS, JavaScri...
Name: LanguageWorkedWith, Length: 11614, dtype: object

In [42]:
employee = {"firstName":["Peter", "Johnny", "Vuong"],
            "lastName":["English","Astill","Chu"],
            "email":["abc@yahoo.com","def@gmail.com","ghk@essex.ac.uk"]}
employee

{'firstName': ['Peter', 'Johnny', 'Vuong'],
 'lastName': ['English', 'Astill', 'Chu'],
 'email': ['abc@yahoo.com', 'def@gmail.com', 'ghk@essex.ac.uk']}

In [43]:
new_data = pd.DataFrame(employee)

In [44]:
new_data["fullName"] = new_data["firstName"]+' '+new_data["lastName"]

In [45]:
new_data

  firstName lastName            email       fullName
0     Peter  English    abc@yahoo.com  Peter English
1    Johnny   Astill    def@gmail.com  Johnny Astill
2     Vuong      Chu  ghk@essex.ac.uk      Vuong Chu

In [46]:
new_data.drop(columns=["firstName","lastName"],inplace=True)

In [47]:
new_data

             email       fullName
0    abc@yahoo.com  Peter English
1    def@gmail.com  Johnny Astill
2  ghk@essex.ac.uk      Vuong Chu

In [49]:
new_data["fullName"].str.split(' ', expand=True)

        0        1
0   Peter  English
1  Johnny   Astill
2   Vuong      Chu

In [51]:
new_data[["firstName","lastName"]] = new_data["fullName"].str.split(' ', expand=True)

In [52]:
new_data

             email       fullName firstName lastName
0    abc@yahoo.com  Peter English     Peter  English
1    def@gmail.com  Johnny Astill    Johnny   Astill
2  ghk@essex.ac.uk      Vuong Chu     Vuong      Chu

In [53]:
new_data.append({"firstName":"Tony"},ignore_index=True)

             email       fullName firstName lastName
0    abc@yahoo.com  Peter English     Peter  English
1    def@gmail.com  Johnny Astill    Johnny   Astill
2  ghk@essex.ac.uk      Vuong Chu     Vuong      Chu
3              NaN            NaN      Tony      NaN